{% extends 'composteur/dashboard.html' %}{% block user %}{% load static %}
<div class="overflow-hidden">
  <nav
      class="navbar navbar-main navbar-expand-lg mt-4 px-0 mx-4 shadow-success border-radius-xl border border-success"
      id="navbarBlur"
      data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a
              href="javascript:;"
              class="nav-link text-body p-0"
              id="iconNavbarSidenav"
            >
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>
          <li class="nav-item px-3 d-flex align-items-center">
            {% if user.image %}
            <img
              src="{{ user.image.url }}"
              class="img-profile rounded-circle w-20"
              style="height: 50px"
            />
            {% else %}
            <img
              src="{% static 'images/profil.png' %}"
              class="img-profile rounded-circle"
              style="height: 50px; width: 50px"
            />
            {% endif %}
            <h5>{{ user.prenom }} {{ user.nom }}</h5>
          </li>
        </ul>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm">
              <a class="opacity-5 text-dark" href="javascript:;">Pages</a>
            </li>
            <li
              class="breadcrumb-item text-sm text-dark active"
              aria-current="page"
            >
              Gestion de la demande
            </li>
          </ol>
        </nav>
      </div>
  </nav>
  <div class="row ms-2 mt-5">
    <div class="col-lg-8 ms-n2">
      <div class="row">
        <div class="col-12">
          <div class="card border border-success">
            <div class="card-header p-0 position-relative mx-3 z-index-2">
              <div
                class="bg-gradient-success shadow-success border-radius-lg pt-4 pb-3"
              >
                <h6 class="text-white text-capitalize ps-3">
                  la demande de tous les greeneur
                </h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0"style='height:440px'>
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th
                        class="text-uppercase text-secondary text-x font-weight-bolder opacity-7"
                      >
                        ID
                      </th>
                      <th
                        class="text-uppercase text-secondary text-x font-weight-bolder opacity-7 ps-2"
                      >
                        GREENEUR
                      </th>

                      <th
                        class="text-uppercase text-secondary text-x font-weight-bolder opacity-7 ps-2"
                      >
                        TIME
                      </th>
                      <th
                        class="text-center text-uppercase text-secondary text-x font-weight-bolder opacity-7"
                      >
                        consulter
                      </th>
                    </tr>
                  </thead>
                  {% for project in produit %}
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h4 class="mb-0">{{project.id}}</h4>
                          </div>
                        </div>
                      </td>
                      <td>
                        <h4 class="text-x font-weight-bold mb-0">
                          {{project.pseudo_G.nom}} {{project.pseudo_G.prenom}}
                        </h4>
                      </td>
                      <td>
                        <h4 class="text-x font-weight-bold mb-0">
                          {{project.timestamp}}
                        </h4>
                      </td>
                      <td class="text-center">
                        <h6 class="badge bg-gradient-success">
                          <a
                            type="button"
                            href="{% url 'inspecter' pseudo project.id %}"
                            >consulter</a
                          >
                        </h6>
                      </td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card h-auto ms-2 w-90 border border-success">
        <h3 class="text-center">la demande de greeneur aujourd'hui</h3>
        <div id="positions" style="height: 450px"></div>
      </div>
    </div>
  </div>
</div>  
<script>
  
  greenermap = L.map("positions").setView([19, -12], 3);
  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    minZoom: 2,
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a>',
  }).addTo(greenermap);
  var greener;
  {% for greener_position in greener_position %}
      greener = L.marker([{{ greener_position.pseudo_G.position.y|stringformat:".1000f" }},{{ greener_position.pseudo_G.position.x|stringformat:".1000f" }}]).addTo(greenermap);
      greener.bindPopup('<p>nom: {{greener_position.pseudo_G.nom}}</p><p>prenom: {{greener_position.pseudo_G.prenom}}</p><p>numéro de téléphone: {{greener_position.pseudo_G.NB_GSM}}</p>');
  {% endfor %}
</script>
{% endblock %}
